<div class="emojidex-emoji-list emojidex-{{category}}-list">
  {{#each emojiList as |emoji|}}
    <span role="image" class="emojidex-list-item" {{action "selectEmoji" emoji}}>{{emoji}}</span>
  {{/each}}
</div>
