<button {{action "toggleEmojiPalette"}}>Toggle Container</button>
<br>
<br>
<br>
{{#if showEmojiPalette}}
    {{emoji-palette
        selectedEmoji=emoji
        hideCategories=false
        closeOnBackdropClick=true
        excludedCategories=excludedCategories
        onClose=(action "toggleEmojiPalette")
    }}
{{/if}}
