<button {{action "toggleEmojiPalette"}}>Toggle Container</button>
<br>
<br>
<br>
{{#if showEmojiPalette}}
  {{emoji-palette
    searchEnabled=true
    selectedEmoji=emoji
    emojiVersion="9"
    hideCategories=false
    closeOnBackdropClick=true
    excludedCategories=excludedCategories
    onClose=(action "closeEmojiPalette")
  }}
{{/if}}
